body {
  background-color: khaki;
  font-size: 12px;
}

div {
  width: 75%;
  margin: 7%;
  height: 200px;
  /*border: 10px solid black;*/
  background: -webkit-radial-gradient(
      center, ellipse,
      black 0%, red 30%,
      rgba(0, 0, 255, 0),
      khaki 100%
    );
}

/*
Degrado lineal
background: -webkit-linear-gradient(
30deg,
black 0%, orange 20%,
blue 80%, green 100%
);
*/
