body {
  background-color: khaki;
  margin-left: 30px;
  font-size: 12px;
}

.div1 {
  width: 200px;
  height: 200px;
  background-color: rgb(128, 128, 128);
}

.div2 {
  width: 200px;
  height: 200px;
  background-color: rgb(50%, 50%, 50%);
}
