body {
  background-color: khaki;
  /*margin-left: 30px;*/
  font-size: 12px;
}

div {
  width: 60%;
  margin-left: 20%;
  height: 200px;
  background-color: darkred;
}

/*
in -> inches (pulgadas) 1in = 2.54cm
cm
mm
pt -> puntos     1pt = 0.35mm
pc -> pica       1pc = 4.23mm      1pc = 12pt

.in {
font-size: 0.5in;
}

.cm {
font-size: 1cm;
}

.mm {
font-size: 5mm;
}

.pt {
font-size: 20pt;
}

.pc {
font-size: 1pc;
}
*/

/*
Medidas Relativas
.em {
  font-size: 2em;
}

.ex {
  font-size: 3ex;
}

.px {
  font-size: 20px;
}

div {
  font-size: 2em;
}

div p {
  font-size: 0.9em;
}

.rem {
  font-size: 0.9rem;
}*/
