body {
  background-color: khaki;
  font-size: 12px;
}

div {
  width: 75%;
  margin: 7%;
  height: 200px;
  background: #088A48;
  text-align: center;
  box-shadow: inset 10px 10px 20px gray;
}

p {
  font-size: 4em;
  color: white;
  padding-top: 40px;
}

/*
box-shadow: Xpx Ypx Dpx color;
box-shadow: -20px -15px 20px black;
text-shadow: 0px 0px 10px #07190B;
*/
