body {
  background-color: khaki;
  font-size: 12px;
}

div {
  margin: 10px;
}

div * {
  border: 1px solid black;
  width: 80px;
  height: 50px;
  background-color: #FFF;
  display: inline-block;
}

div p:nth-of-type(2) {
  background-color: orange;
}

/* Otras pseudoclases
:nth-child(N)
:nth-last-child(N)

:nth-of-type(N)
:nth-last-of-type(N)

:first-of-type
:last-of-type
:only-of-type
:empty
:not(selector)

:last-child
:only-child
:root
:enabled
:disabled
:checked

even / odd
*/

/*a {
  text-decoration: none;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  width: 100px;
  height: 50px;
}*/

/*a:link {
  color: red;
}

a:visited {
  color: orange;
}

a:hover {
  font-size: 1.4em;
}

a:active {
  color: transparent;
}*/

/*p:hover {
  transform: scale(1.2);
  color: red;
  text-decoration: underline;
}

span:active {
  color: green;
  transform: scale(1.2);
}

input:focus {
  color: yellow;
}*/

/*div {
  width: 75%;
  margin: 7%;
  height: 600px;
  background-color: #088A48;
  color: white;
  font-size: 3em;
}*/


/*
Pseudoclases
 p:after {
  content: '-';
  color: black;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: red;
  width: 50px;
  height: 50px;

  p {
  padding-top: 40px;
  text-align: left;
  letter-spacing: -2px;
  position: relative;
  word-spacing: -9px;
}

p::first-letter {
  font-size: 5em;
}

p::first-line {
  font-weight: bolder;
  font-variant: small-caps;
}
*/
