body {
  background-color: khaki;
  margin-left: 30px;
  color: black;
}

header {
  font-size: 30px;
}

h1 {
  color: blue;
}

.verde {
  color: darkgreen !important;
}

.red {
  color: darkred;
}

#naranja {
  color: orange;
}
/*
css navegador
css perfil de usuario
css desarrollador

propiedades que el elemento hereda
propiedades propias del elemento
carga una a una las clases segun estan nombradas
carga el id

**!important se impone a elementos de mas peso jerarquico
*/

/*
elemento1 ~ elemento2
tienen que ser hermanos
elemento1 sea hermano mayor de elemento2
sin importar que sea consecutivo
p ~ p {
color: darkred;
}
*/

/*
Selectores directos
padre > hijo
header > div > h1 {
color: darkred;
}
*/

/*
Selector adyacente
para elementos hermanos
inmediatamente despues del indicado
elemento + elementoAplicar {...}
p + p {
color: gray;
text-indent: 30px;
}
*/

/*.azul {
  color: blue;
}

.verde {
  color: darkgreen;
}

#rojo {
  color: darkred;
}

p[class] {
  text-decoration: underline;
}

p[id="rojo"] {
  font-weight: bold;
}

selectores de atributo
[nombre_atributo]
[nombre_atributo=valor]
[nombre_atributo~=valor] almenos
[nombre_atributo|=valor] lang=es-ES es-AR es-PE es-MX
 */
